<div class="container">
  
    <h3>Now Gaming</h3>
  
<% @servers.each do |server| %>
<div class="server-header">
  <div class="server-icon">

  </div>
</div>

      <<%= server.server_name %></th>
      <td><%= server.server_name %></td>
      <td><%= server.server_name %></td>



<% end %>
<%= paginate @servers %>
  </div>
</div>
</div>