<div class="row">
<h2 class="fw-bold">プロフィール画像編集</h2>
<p class="m-0 pb-4">プロフィール画像のみ変更することができます</p>

<%= form_with model: @user do |f| %>
  <div class="col-6 p-0">
    <%= f.file_field :profile_image,class:"form-control", placeholder: "プロフィール画像", accept: "image/*" %>
    <div class="pt-3 actions">
      <%= f.submit "変更を保存", class: "btn btn-warning" %>
    </div>
  </div>
<% end %>
</div>