<div class="pb-3">
  <h2 class="fw-bold">パスワードをお忘れですか？</h2>
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="">
    <div class="col-xl-4 px-0 pb-4">
      <label class="form-label">Email</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Eメール" %>
    </div>
    <div class="col-xl-4 px-0">
      <%= f.submit "パスワードのリセット手順を送信", class: "btn btn-warning" %>
    </div>
  </div>
<% end %>
