<div class="top-container container-fluid p-0">
  <div class="main-visual">
  </div>
  <div class="">
    <div class="p-2 text-center">
      Game Nowはゲーム友達を募集するための掲示板サイトです
    </div>
    <div class="main-btn d-flex justify-content-center">
      <% if user_signed_in? %>
        <div class="pe-2">
          <%= link_to "新規投稿する", new_server_path, class: 'btn btn-outline-primary' %>
        </div>
      <% else %>
        <div class="pe-2">
          <%= link_to "新規登録する", new_user_registration_path, class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
      <div class="ps-2">
      <%= link_to "掲示板を覗いてみる", servers_path, class: 'btn btn-outline-primary'  %>
      </div>
    </div>
  </div>
  <div class="row m-0 text-light bg-primary" style="height:100px">
    <h2 class="main-bar m-0 p-0 d-flex justify-content-center align-self-center">
      仲間を募集してみよう！
      <%= link_to new_server_path, class: "badge rounded-pill bg-light text-primary" do %>
        投稿してみる
      <% end %>
    </h2>
  </div>
</div>

