<%= content_for(:bg_area) do %>
    <div class="video-wrapper">
      <%= video_tag 'bg_video.mp4', autoplay: true, autobuffer: true, loop: true, muted: true%>
      <div class="video_text">
        <h3>一緒にゲームをプレイする人を見つけよう！</h3>
      </div>
    </div>
<% end %>

<div>
  
</div>

<style>
.video-wrapper video{
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.video_text {
  position: absolute;
  top: 50%;
  left: 50%;
  
  color: white;
}

  @media (max-width: 599px) {
    .video-text {
      top: 20%;
    }
  }

  @media (min-width: 600px) and (max-width: 799px) {
    .video-text {
      top: 30%;
    }
  }

  @media (min-width: 800px) {
    .video-text {
      top: 40%;
    }
  }
</style>