@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f1f0;
}

.main-body {
  padding: 24px;
}

.navbar {
  background-color: white;
}

.navbar-toggler {
  color: black;
}

.side-column {
  height: 1000px;
  position: fixed;
}

.main-visual {
  background-image: url('../images/game_now.jpeg');
  background-size: contain;
  background-position: center;
}

.main-bar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_center {
  display: flex;
  justify-content: flex-center;
}

.example {
  font-size: 12px;
	color: black;
	opacity: 0.6;
	margin: 0;
}

.error_message {
  font-size: 12px;
}

.index_bg_title {
  background-color: #d74439;
  border-radius: 10px;
}

.index_bg_body {
  background-color: #e1736b;
}

.Registration {
  width: 100%;
  max-width: 300px;
  padding: 12px;
}

.text_field {
  width: 100%;
}

.card-text {
  height: 300px;
  font-family: none;
}

.card-footer-text {
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.pagination {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 50%;
}

.pagination span ,.page_link {
  border-radius: 0.25rem;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  margin: 0 5px;
  padding: 2px;
}

.pagination span a {
  text-decoration: none;
  color: #444;
}

.pagination span:hover, .pagination span a:hover {
  background-color: #999;
}

.pagination .first,  .pagination .last {
  width: px;
}

.pagination .prev, .pagination .next {
  width: px;
}

.pagination .current {
  background-color: #ddd;
}

.active_bar {
  height: 100px;
  background: gray;
  text-align: center;
  padding-top: 20px;
}

.game_tag {
  height: 100px;
  width: 200px;
  border-radius: 10px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

@media (min-width: 991px) {
  .main-body {
    margin-left: 230px;
  }
  .search-bar {
    width: 30%;
  }
  .topic {
    margin: 10px;
  }
}

@media (max-width: 991px) {
  .search-bar {
    padding-bottom: 8px;
  }
  .topic {
    margin-bottom: 10px;
  }
}

@media (max-width: 690px) {
  .main-visual {

  }
}

@media (max-width: 590px) {
  .main-bar {
  }
}

@media (max-width: 480px) {
  .main-visual-text {
    font-size: 30px;
  }
}

@media (max-width: 384px) {
  .main-visual-text {
    font-size: 25px;
  }
}

.field_with_errors input {
  border-color: #dc3545;
}

.field_with_errors textarea {
  border-color: #dc3545;
}

.error_message {
  color: #dc3545;
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

