@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f1f0;
  font-family: "HiraKakuProN-W6";
}

nav {
  background-color: #363234;
}

.now_logo {
  color: #d74339;
}

footer {
  background-color: #363234;
}

.title_center {
  display: flex;
  justify-content: flex-center;
}

.example {
  font-size: 12px;
	color: black;
	opacity: 0.6;
	margin: 0;
}

.error_message {
  font-size: 12px;
}

.index_bg_title {
  background-color: #d74439;
  border-radius: 10px;
}

.index_bg_body {
  background-color: #e1736b;
}

.Registration {
  width: 100%;
  max-width: 300px;
  padding: 12px;
}

.text_field {
  width: 100%;
}

.field {
  padding-bottom: 16px;
}

.migiyose {
  margin: 0 0 auto 0;
}


.pagination {
  margin: auto;
  display: flex;
  width: 50%;
}

.pagination span {
  border: 1px solid #999;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  margin: 0 5px;
}

.pagination span a {
  text-decoration: none;
  color: #444;
}

.pagination span:hover, .pagination span a:hover {
  background-color: #999;
}

.pagination .first,  .pagination .last {
  width: 80px;
}

.pagination .prev, .pagination .next {
  width: 60px;
}

.pagination .current {
  background-color: #ddd;
}

