@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f1f0;
  font-family: "HiraKakuProN-W6";
}

.navbar {
  background-color: #363234;
}

.now_logo {
  color: #d74339;
}

footer {
  background-color: #363234;
}

.title_center {
  display: flex;
  justify-content: flex-center;
}

.example {
  font-size: 12px;
	color: black;
	opacity: 0.6;
	margin: 0;
}

.error_message {
  font-size: 12px;
}

.index_bg_title {
  background-color: #d74439;
  border-radius: 10px;
}

.index_bg_body {
  background-color: #e1736b;
}

.Registration {
  width: 100%;
  max-width: 300px;
  padding: 12px;
}

.text_field {
  width: 100%;
}

.field {
  padding-top: 3px;
  padding-bottom: 16px;
}

.migiyose {
  margin: 0 0 auto 0;
}

.card-text {
  height: 300px;
  font-family: none;
}

.card-footer-text {
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.pagination {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 50%;
}

.pagination span ,.page_link {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  margin: 0 5px;
  padding: 2px;
}

.pagination span a {
  text-decoration: none;
  color: #444;
}

.pagination span:hover, .pagination span a:hover {
  background-color: #999;
}

.pagination .first,  .pagination .last {
  width: px;
}

.pagination .prev, .pagination .next {
  width: px;
}

.pagination .current {
  background-color: #ddd;
}

