<p>こんにちは、<%= @resource.email %>!</p>

<p>パスワード変更のリクエストを受け付けました。</p>
<p>以下のリンクから変更することができます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>リクエストに心当たりが無い場合は、このメールを無視してください。</p>
<p>上のリンクにアクセスして新しいパスワードを作成するまでパスワードは変更されません。</p>


<p>掲示板サイト【Game Now】より</p>
